:root {
  --heading-color: #560216;
  --paragraph-color: #081e3b;
  --background-color: #fffdfb;
  --links-color: #dd4e69;
  --text-blocks-color: #ffeee5;
  --heading-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --paragraph-font: 'DM Sans', sans-serif;
}
body {
  background: var(--background-color);
}
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  text-align: center;
  line-height: normal;
}
h1 {
  font-size: 86px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  opacity: 0.5;
  line-height: 0.8;
}
h4 {
  color: var(--paragraph-color);
  font-size: 36px;
  font-weight: bold;
}
p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: 18px;
}
a {
  color: var(--links-color);
  text-decoration: none;
}
#logo {
  max-width: 80px;
}
#coding-by {
  color: var(--heading-color);
  opacity: 0.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
.text-centered {
  text-align: center;
}
.text-block {
  background: var(--text-blocks-color);
}

.btn {
  font-family: var(--heading-font);
}

.contact-button {
  background: var(--heading-color);
  color: var(--background-color);
}
.contact-button:hover {
  background: var(--text-blocks-color);
  color: var(--heading-color);
  font-size: larger;
  font-weight: bold;
  border: 1px solid var(--heading-color);
}
.about-button {
  background: var(--links-color);
  color: var(--background-color);
}
.about-button:hover {
  background: var(--background-color);
  color: var(--links-color);
  font-size: larger;
  font-weight: bold;
  border: 1px solid var(--links-color);
}
.project-button {
  background: var(--background-color);
  color: var(--links-color);
  border: 1px solid var(--links-color);
}
.project-button:hover {
  background: var(--links-color);
  color: var(--background-color);
  font-size: larger;
  font-weight: bold;
}
.my-links {
  display: flex;
  justify-content: space-around;
  font-family: var(--heading-font);
}
